body{
    text-align: center;
    background-color: lightseagreen;
}
#logout{
    float:right;
    background-color: darkcyan;
    font-family: 'Artifika', serif;
  

}
h1{
    font-size: 100px;
    padding-bottom: 10px;
    font-family: 'IM Fell Great Primer', serif;
}
p{
    font-family: 'Didact Gothic', sans-serif;
}
#addRoom{
    background-color: darkcyan;
    font-family: 'Artifika', serif;

}
